
/* OLVIDAR CONTRASEÑA */

.olvidar_contra{
    padding: 9px 0 0 24px ;
    font-weight: 500;
    font-size: 14px;
    
}

.olvidar_contra a{    
    color: #0296FF;
}


/* pregunta de "olvidar contraseña" */

.pregunta {
    padding: 10px 0 0px 20px ;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #465B69;
}

.box_contenido{
    margin-top: -20px;
}

.menor {
margin-top: 6px;
font-weight: 700;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #143676;
text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

button a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}


@media (min-width: 768px) {
    .olvidar_contra{
        text-align: center;
        margin-bottom: 6px;
    }

    .pregunta {
        margin-top: 5px;
        text-align: center;
    }

    .box_contenido{
        margin-top: -100px;
    }
    
    .menor {
        margin-top: 20px;
    }

    
}




