<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home / MedG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    
    <section class="fondo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="fondo">
    </section>

    <main>
        <section class="logo">
            <div class="logo_img">
                <h1>Med</h1>
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="fondo">
            </div>
            <p>Tu salud digital, más cerca</p>
    </main>
</body>
</html>